<footer class="fixed bottom-0 left-0 z-20 w-full p-2 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800 dark:border-gray-600">
    <div class="w-full max-w-screen-xl mx-auto p-2 md:py-4">
        <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">Notlar</a>. <a href="/contact">{{ _('Contact') }}</a></span>
    </div>
</footer>
