{% extends 'base.html' %}

{% block content %}

<script src="{{ url_for('static', filename='js/settings.js') }}"></script>


<div class="max-w-lg mx-auto my-8 bg-white p-8 rounded-xl shadow shadow-slate-300">
    <div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-md p-5">
        <img class="w-16 h-16 rounded-full mx-auto" src="{% if profile_picture %}{{ url_for('static', filename='img/users/' + profile_picture) }}{% else %}{{ url_for('static', filename='img/default-profile.png') }}{% endif %}" alt="Profile picture">
        <h2 class="text-center text-2xl font-semibold mt-3">{{ name }} {{ last_name }}</h2>
    </div>
    
    <form id="updateProfileForm" data-action-url="{{ url_for('update_profile') }}" method="POST">
        <div class="flex flex-col space-y-5">
            <label for="email">{{ _('Email') }}</label>
            <input id="email" name="email" type="email" disabled
                class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                placeholder="{{ email }}">
            </label>
            <label for="name">{{ _('Name') }}</label>
            <input id="name" name="name" type="text"
                class="w-3/6 py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                placeholder="{{ name }}">
            </label>
            <label for="last_name">{{ _('Last Name') }}</label>
            <input id="last_name" name="last_name" type="text"
                class="w-3/6 py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                placeholder="{{ last_name }}">
            </label>
            <label for="old_password">{{ _('Old Password') }}</label>
            <input id="old_password" name="old_password" type="password"
                class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
            </label>
            <label for="new_password">{{ _('New Password') }}</label>
            <input id="new_password" name="new_password" type="password"
                class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
            </label>
            <label for="confirm_password">{{ _('Confirm your new password') }}</label>
            <input id="confirm_password" name="confirm_password" type="password"
                class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
            </label>
            <label for="profile_picture">{{ _('Profile Picture') }}</label>
            <input id="profile_picture" name="profile_picture" type="file"
                class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
                accept="image/*">
            </label>
            <button type="button" onclick="updateProfile(event)"
                class="py-9 w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
                <span>{{ _('Update Settings') }}</span>
            </button>
        </div>
    </form>
    
    <div id="error-container"></div>
    <div id="success-container"></div>

    {% block footer %}
    {# Empty block to exclude the footer from the base template #}
    {% endblock %}
</div>

{% endblock %}